ol.fc li:first-child{
  background-color: cornflowerblue;
  color: rgb(115, 3, 152);
  font-size: 19px;
  border-radius: 5px;
}
ol.lc li:last-child{
  background-color: rgb(205, 237, 100);
  color: rgb(2, 147, 0);
  font-size: 18px;
}
ol.oc li:only-child{
  background-color: rgb(235, 209, 12);
  color: rgb(2, 147, 0);
  font-size: 17px;
  font-style: italic;
  font-weight: 700;
}
ol.nthc li:nth-child(3){
  background-color: rgb(243, 142, 80);
  color: rgb(0, 157, 255);
  font-size: 17px;
  font-style: italic;
  font-weight: 700;
  border-radius: 5px;
}
ol.nthlc li:nth-last-child(3){
  background-color: rgb(255, 32, 144);
  color: rgb(244, 181, 46);
  font-size: 17px;
  font-style: italic;
  font-weight: 700;
  border-radius: 5px;
}
body{
  background-color: rgba(178, 211, 239, 0.559);
}
div.fot p:first-of-type{
   background-color: cornflowerblue;
  color: rgb(115, 3, 152);
  font-size: 19px;
  border-radius: 5px;
}
div.lot h4:last-of-type{
   background-color: rgb(205, 237, 100);
  color: rgb(2, 147, 0);
  font-size: 18px;
}
div.oot strong:only-of-type{
  background-color: rgb(235, 209, 12);
  color: rgb(2, 147, 0);
  font-size: 17px;
  font-style: italic;
  font-weight: 700;
}
div.nthot article:nth-of-type(1){
  background-color: rgb(243, 142, 80);
  color: rgb(0, 157, 255);
  font-size: 17px;
  font-style: italic;
  font-weight: 700;
  border-radius: 5px;
}
div.nthlot strong:nth-last-of-type(1){
  background-color: rgb(255, 32, 144);
  color: rgb(244, 181, 46);
  font-size: 17px;
  font-style: italic;
  font-weight: 700;
  border-radius: 5px;
}