body {
      font-family: sans-serif;
     display: flex;
     flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
      background-color: #f0f0f0;
    }

    .container {
      display: flex;
      width: 200px;
      height: 200px;
      background-color: #ffffff;
      border: 2px solid #333;
    }

    .item {
      width: 50px;
      height: 50px;
      background-color: #007bff;
    }

    .demo-1 {
      justify-content: center;
      align-items: center;
    }

    .demo-2 {
      justify-content: space-between;
      align-items: flex-end;
    }

    .demo-3 {
      justify-content: flex-end;
      align-items: flex-start;
    }
    .container2{
      display: flex;
      width: 200px;
      height: 200px;
      background-color: #ffffff;
      border: 2px solid #333;
      flex-direction: column;
    }
    .item2{
      width: 50px;
      height: 50px;
      background-color: #007bff;
      margin: 2px;
    }
    .container3{
      display: flex;
      width: 200px;
      height: 200px;
      background-color: #ffffff;
      border: 2px solid #333;
      justify-content: start;
      flex-wrap: wrap;
    }
    .container4{
     display: flex;
      width: 200px;
      height: 200px;
      background-color: #ffffff;
      border: 2px solid #333;
      justify-content: end;
      flex-wrap: wrap; 
    }